#encoding UTF-8
##
## Шаблон электронной почты для излечения неверного URL-адреса
## Это шаблон Cheetah
## Документация: http://sabnzbd.wikidot.com/email-templates
##
## Новые строки и пробелы имеют значение!
##
## Это заголовки электронной почты
To: $to
From: $from
Date: $date
Subject: Службе SABnzbd не удалось загрузить NZB-файл
X-priority: 5
X-MS-priority: 5
## Теперь следует тело сообщения. Пустая строка является обязательной!

Привет.

Службе SABnzbd не удалось загрузить NZB-файл по адресу $url.
Сообщение об ошибке: $msg

Конец сообщения
