#encoding UTF-8
##
## Adresă URL Greşită şablon Email pentru SABnybd 
## Acesta este un şablon Cheetah
## Documentaţie : http://sabnzbd.wikidot.com/email-templates
##
## Liniile noi şi spaţiile sunt importante!
##
## Acestea sunt headerele email
Către: $to
De la: $from
Dată: $date
Subiect: SABnzbd nu a reuşit să descarce un NZB
X-priority: 5
X-MS-priority: 5
## După aceasta urmează corpul email, linia goală e necesară !

Salut,

SABnzbd nu a putut descărca NZB-ul de la adresa $url.
Mesajul de eroare a fost: $msg

La revedere!
