#encoding UTF-8
##
## Szablon wiadomości błędnego pobierania URL SABnzbd
## To jest szablon Cheetah
## Dokumentacja: http://sabnzbd.wikidot.com/email-templates
##
## Znaki nowego wiersza i białe znaki mają znaczenie!
##
## To są nagłówki wiadomości
To: $to
From: $from
Date: $date
Subject: SABnzbd nie udało się pobrać pliku NZB
X-priority: 5
X-MS-priority: 5
## Po tym następuje treść. Pusty wiersz jest wymagany!

Cześć,

SABnzbd nie udało się pobrać pliku NZB z $url.
Komunikat błędu: $msg

Do usłyszenia.
