#encoding UTF-8
##
## Șablon Email Original pentru SABnzbd
## Acesta este un Șablon Cheetah
## Documentație: http://sabnzbd.wikidot.com/email-templates
##
##Rândurile noi și caracterele spațiu sunt importante!
##
## Acestea sunt antetele email
To: $to
From: $from
Date: $date
Subject: SABnzbd <!--#if $status then "a terminat" else "nu a reuşit" #--> sarcina $name
X-priority: 5
X-MS-priority: 5
## După acesta urmează conţinutul, este necesar o linie goală!

Salut,
<!--#if $status #-->
SABnzbd a descărcat "$name" <!--#if $msgid=="" then "" else "(newzbin #" + $msgid + ")"#-->
<!--#else#-->
SABnzbd nu a reuşit să descarce "$name" <!--#if $msgid=="" then "" else "(newzbin #" + $msgid + ")"#-->
<!--#end if#-->
Terminat la $end_time
Mărime $size

Rezultatele sarcinii:
<!--#for $stage in $stages #-->
Stagiu $stage <!--#slurp#-->
<!--#for $result in $stages[$stage]#-->
    $result <!--#slurp#-->
<!--#end for#-->
<!--#end for#-->
<!--#if $script!="" #-->
Rezultatul script-ului utilizatorului "$script" (Exit code = $script_ret):
$script_output
<!--#end if#-->
<!--#if $status #-->
Bucuraţi-vă!
<!--#else#-->
Ne pare rau!
<!--#end if#-->
