#encoding UTF-8
##
## Domyślny szablon maila w SABnzbd
## To jest szablon Cheetah
## Dokumentacja: http://sabnzbd.wikidot.com/email-templates
##
## Znak nowego wiersza i spacji ma znaczenie!
##
## To są nagłowki maila
To: $to
From: $from
Date: $date
Subject: SABnzbd <!--#if $status then "zakończył" else "zakończył z błędem" #--> zadanie $name
X-priority: 5
X-MS-priority: 5
## Następnie treść maila, wymagana jest pusta linia!

Cześć,
<!--#if $status #-->
SABnzbd pobrał "$name" <!--#if $msgid=="" then "" else "(newzbin #" + $msgid + ")"#-->
<!--#else#-->
SABnzbd nie pobrał "$name" <!--#if $msgid=="" then "" else "(newzbin #" + $msgid + ")"#-->
<!--#end if#-->
Zakończono o $end_time
Pobrano $size

Rezultat zadania:
<!--#for $stage in $stages #-->
Etap $stage <!--#slurp#-->
<!--#for $result in $stages[$stage]#-->
$result <!--#slurp#-->
<!--#end for#-->
<!--#end for#-->
<!--#if $script!="" #-->
Odpowiedź od skryptu "$script" (kod wyjścia = $script_ret):
$script_output
<!--#end if#-->
<!--#if $status #-->
Baw się dobrze!
<!--#else#-->
Przykro mi!
<!--#end if#-->
