#encoding UTF-8
##
## Стандартный шаблон сообщения электронной почты
## Это шаблон Cheetah
## Документация: http://sabnzbd.wikidot.com/email-templates
##
## Новые строки и пробелы имеют значение!
##
## Это заголовки электронной почты
To: $to
From: $from
Date: $date
Subject: SABnzbd: задание $name <!--#if $status then "успешно выполнено" else "не удалось выполнить" #-->
X-priority: 5
X-MS-priority: 5
## Теперь следует тело сообщения. Пустая строка является обязательной!

Привет.
<!--#if $status #-->
Системой SABnzbd загружено задание «$name» <!--#if $msgid=="" then "" else "(newzbin #" + $msgid + ")"#-->
<!--#else#-->
Системе SABnzbd не удалось загрузить «$name» <!--#if $msgid=="" then "" else "(newzbin #" + $msgid + ")"#-->
<!--#end if#-->
Время окончания загрузки: $end_time
Загруженный размер: $size

Результаты задания:
<!--#for $stage in $stages #-->
Stage $stage <!--#slurp#-->
<!--#for $result in $stages[$stage]#-->
    $result <!--#slurp#-->
<!--#end for#-->
<!--#end for#-->
<!--#if $script!="" #-->
Результат выполнения сценария «$script» (Exit code = $script_ret):
$script_output
<!--#end if#-->
<!--#if $status #-->
Удачи!
<!--#else#-->
Сожалеем.
<!--#end if#-->
