#encoding UTF-8
##
## Szablon wiadomości RSS dla SABnzbd
## To jest szablon Cheetah
## Dokumentacja: http://sabnzbd.wikidot.com/email-templates
##
## Znak nowego wiersza i spacji ma znaczenie!
##
## To są nagłowki maila
To: $to
From: $from
Date: $date
Subject: SABnzbd dodał $amount zadań/zadania do kolejki
X-priority: 5
X-MS-priority: 5
## Następnie treść maila, wymagana jest pusta linia!

Cześć,

SABnzbd dodał $amount zadanie/zadań do kolejki.
Pochodzą one z wiadomości RSS "$feed".
<!--#for $job in $jobs#-->
$job <!--#slurp#-->
<!--#end for#-->

Nara
