#encoding UTF-8
##
## SABnzbd RSS 电子邮件模板
## 这是一款 Cheetah 模板
## 文档: http://sabnzbd.wikidot.com/email-templates
##
## 新行及空格均有重要意义!
##
## 这些是电子邮件头
To: $to
From: $from
Date: $date
Subject: SABnzbd 已将 $amount 项任务加入队列
X-priority: 5
X-MS-priority: 5
## 到主体部分时，必须要有空行!

Hi,

SABnzbd 已将 $amount 项任务加入队列。
它们出自 RSS feed "$feed"。
<!--#for $job in $jobs#-->
    $job <!--#slurp#-->
<!--#end for#-->

Bye
