#encoding UTF-8
##
## Шаблон РСС е-поруке за САБнзбд
## Ово је Гепард шаблон
## Документација: http://sabnzbd.wikidot.com/email-templates
##
## Нови редови и размаци су важни!
##
## Ово су заглавља е-поруке
Прима: $to
Шаље: $from
Датум: $date
Тема: САБнзбд је додао $amount посла у ред
Х-приоритет: 5
Х-МС-приоритет: 5
## После тога долази разрада, празни редови су потребни!

Здраво,

САБнзбд је додао $amount посао(ла) у ред.
Долазе са РСС довода „$feed“.
<!--#for $job in $jobs#-->
    $job <!--#slurp#-->
<!--#end for#-->

Поздрав
