#encoding UTF-8
## Şablon Email RSS pentru SABnzbd
## Acesta este un şablon Cheetah 
## Documentaţie: http://sabnzbd.wikidot.com/email-templates
##
## Rândurile noi și caracterele spațiu sunt importante!
##
## Acestea sunt antetele email
To: $to
From: $from
Date: $date
Subject: SABnzbd a adăugat $amount sarcini în coadă
X-priority: 5
X-MS-priority: 5
## După acesta urmează conţinutul, este necesar o linie goală!

Salut,

SABnzbd a adăugat $amount sarcină(e) în coadă.
Ele sunt din fluxuri RSS "$feed".
<!--#for $job in $jobs#-->
    $job <!--#slurp#-->
<!--#end for#-->

La revedere !
